html, body {
  overflow-x: hidden;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: solid; 
  border-bottom-width: 2px;
  border-bottom-color: #e0e0e0;
  padding-bottom: 50px;
  border-bottom-width:100% ;
}
.profile-pic-box {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50%;
  
}
.profile-pic {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%; 
}
.profile-pic:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.paragraph {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  max-width: 300px;
  min-width: 600px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}
.icons {
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 50px;
}
.icons a {

  padding: 15px;
  text-align: center;
  height: 80px;
}

.icons:hover {
  color: #0073e6;
  transform: scale(1.2);

  
}
