.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #306396;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(221, 219, 219);
  z-index: 1000;
}
.right-section {
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.right-section a {
  text-decoration: none;
  color: white;
}
.left-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.tabs:hover {
  color: #00ffff;
  cursor: pointer;
  transform: scale(1.2);
}

.left-section p:hover {
  color: #00ffff;
  cursor: pointer;
   transform: scale(1.2);
}