#projects {
  width: 100%;
  min-height: 80vh;
  margin: 0;
  text-align: center;
}

#projects h1 {
  font-size: 3rem;
  margin-top: 50px;
  font-weight: bold;
  
  text-decoration: underline;
  text-decoration-color: #96989a;
  text-underline-offset: 20px;
  text-decoration-thickness: 1.5px;
}
.section-1 {
    display: flex;
    height: 60vh;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0 2rem;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
    scroll-behavior: smooth;
    scroll-margin-right: 100px;
    scroll-padding-left: 32px;
  scroll-padding-right: 32px;
}

.box {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-width: 300px;
    max-width: 280px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
}

.box:first-child {
    margin-left: 20px; 
}

.box:last-child {
    margin-right: 40px; 
}
.box img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.box h2 {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.box p {
  font-size: 14px;
  color: #444;
}

.box img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.box h2 {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.box p {
  font-size: 14px;
  font-family: ;
  color: #444;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(19, 33, 89, 0.2);
}

