#skills {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills h1 {
    font-size: 46px;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #929599; 
    margin-bottom: 50px;
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.skill-icons-symbol {
  cursor: pointer;
  transition: 0.3s ease;
  padding: 15px;
  text-align: center;
  height: 70px;
  font-size: 50px;
}
.skill-icons-symbol:hover {
  transform: scale(1.2);
}
